@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1650728364836') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-VectorStroke:before {
  content: "\e62d";
}

.icon-Union-13:before {
  content: "\e62e";
}

.icon-Union-14:before {
  content: "\e62f";
}

.icon-Union-12:before {
  content: "\e630";
}

.icon-Union-4:before {
  content: "\e631";
}

.icon-fenzuguanli:before {
  content: "\e632";
}

.icon-Union-26:before {
  content: "\e633";
}

.icon-Union-38:before {
  content: "\e634";
}

.icon-Union-45:before {
  content: "\e635";
}

.icon-Union-46:before {
  content: "\e636";
}

.icon-Union-47:before {
  content: "\e637";
}

.icon-Union-34:before {
  content: "\e638";
}

.icon-Vector-2:before {
  content: "\e639";
}

.icon-Union-48:before {
  content: "\e63a";
}

.icon-Union-28:before {
  content: "\e63b";
}

.icon-Union-21:before {
  content: "\e63c";
}

