div {
  --a: 20px;
  --b: blue;
  background: red;
  /* 引入了一种新方法：first-valid()。其思想是将一个值列表传递给该函数；这些值将被解析，并且将使用第一个有效的值。这在处理 CSS 自定义属性（又称 CSS 变量）时特别有用。使用 CSS 变量时的一个问题是，在声明中，它们被视为有效值，即使实际包含的值无效。设置后备值也无济于事，后备声明也将被忽略。使用这种方法，我们可以通过使用 first-valid() 将所有后备声明合并为一个声明来简化代码。 */
  background: first-valid(var(--a), var(--b));

}

