* {
    padding: 0px;
    margin: 0px;
}

.clearfix:after,
.clearfix::before {
    /* 双伪元素 */
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    /* IE6/7专有 */
    *zoom: 1;
}


a {
    text-decoration: none;
}


a:hover {
    color: red;
}