* {
    padding: 0;
    margin: 0;
}


.w {
    /* 核心区域 */
    width: 1200px;
    margin: auto;
}
body {
    background-color: #f3f5f7;
}
li {
    /* 清除列表格式 */
    list-style: none;
}

a {
    /* 让所有的a标签去除下划线 */
    text-decoration: none;
}

.header {
    /* background-color: pink; */
    height: 42px;
    /* 此地方会层叠w的样式 */
    margin: 30px auto;
}

.header .logo{
    float: left;
    width: 198px;
    height: 42px;
    font-size: 20px;
    text-align: center;
    line-height: 42px;
    background-color: plum;
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    margin: 0px 15px;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}



.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: red;
}


.search {
    float: left;
    width: 412px;
    height: 42px;
    /* background-color: skyblue; */
    margin-left: 50px;
}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}


.search input:valid {
    /* 对搜索框做伪类 */
    color: black;
}




.search .sub {
    float: left;
    width: 50px;
    height: 42px;
    border: 0;
    background-image: url("../images/按钮.png");
}




.login {
    /* 图片和文字没有对齐 */
    float: right;
    line-height: 42px;
    margin-right: 32px;
    font-size: 14px;
    color: #666;
}


.banner {
    /* 版心 */
    height: 421px;
    background-color: #1c036c;
}


.banner .w {
    height: 421px;
    background: url(../images/banner-background-image.png) no-repeat top center;
}



.subnav {
    float: left;
    height: 421px;
    width: 190px;
    background: rgba(0, 0, 0, 0.3);
}

.subnav ul li a {
    display: block;
    width: 150px;
    height: 46px;
    font-size: 14px;
    color: #fff;
    /* 调整行间距 */
    line-height: 46px;
    /* 内边距 */
    padding: 0px 20px;
}


.subnav ul li a:hover {
    color: red;
}


.subnav ul li a span {
    float: right;
}



.right_box {
    float: right;
    width: 230px;
    height: 300px;
    /* 没有发生外边距合并，浮动的盒子不会由外边距合并问题 */
    margin-top: 50px;
    background-color: #fff;
}


.right_box h2 {
    height: 48px;
    text-align: center;
    line-height: 48px;
    background-color: #9bceea;
    font-size: 18px;
    color: white;
}


.classdb {
    padding: 0 20px;
}


.classdb ul li {
    height: 40px;
    padding: 14px 0;
    border-bottom: 1px solid #ccc;
}


.right_box div ul li a {
    font-size: 16px;
    color: #4e4e4e;
    font-weight: bold;
}

.classdb ul li a p {
    font-size: 10px;
    color: #a5a5a5;
    font-weight: 400;
}


.classdb .more {
    display: block;
    height: 38px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 3px;
}



/* 精品推荐小模块 */
.recommended {
    margin-top: 10px;
    height: 60px;
    background-color: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    /* 行高会继承给三个孩子 */
    line-height: 60px;
}


.recommended .tuijian {
    float: left;
    font-size: 16px;
    color: #00a4ff;
    font-weight: bold;
    padding: 0 30px;
}


.recommended .tuijian:hover {
    color: red;
}


.recommended .nav li{
    float: left;
}

.recommended .nav li a:hover {
    color: red;
}

.recommended .nav li a {
    height: 16px;
    border-left: 2px solid #a5a5a5;
    text-align: center;
    padding: 0 30px;
}

.recommended .diy {
    color: skyblue;
    font-weight: bold;
    font-size: 16px;
    float: right;
    padding-right: 40px;
}

.recommended .diy:hover {
    color: red;
}