@font-face {
    /* 生命字体图标 */
    font-family: 'iconfont';
    src: url('../fonts/font_umz0y2t4q9d/iconfont.ttf') format('truetype');
    /* 导入第二个 */
    src: url('../fonts/font_sl5y7uhvgte/iconfont.ttf') format('truetype');
}

.main {
    /* 焦点图 */
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}



.focus {
    width: 721px;
    height: 455px;
    float: left;
    position: relative;
    overflow: hidden;
}

#focus_imgs {
    /* 放大宽度即可水平浮动 */
    width: 500%;
    position: absolute;
    top: 0;
    left: 0;
}


#focus_imgs li {
    float: left;
}

/* 圆形点索引 */
#focus_index {
    display: flex;
    position: absolute;
    bottom: 17px;
    left: 160px;
}


#focus_index li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #fff;
}

#focus_index li:nth-child(n+1) {
    margin-right: 5px;
}

#focus_index li:hover {
    background-color: orange;
}

/* 左右侧按钮 */



.arrow-r, .arrow-l {
    position: absolute;
    display: none;
    font-size: 30px;
    font-weight: bold;
    width: 40px;
    height: 60px;
    background-color: black;
    opacity: .4;
    text-align: center;
    line-height: 60px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 2;
}

.arrow-l {
    left: 0;
}







.newsflash {
    float: right;
    width: 250px;
    height: 455px;
}


.newsflash .news {
    height: 165px;

}

.news_hd {
    height: 33px;
    border: 1px solid #e4e4e4;
    border-bottom: 1px dotted #e4e4e4;
    text-align: center;
    line-height: 33px;
    padding: 0 15px;
}

.news_hd h5 {
    float: left;
    font-size: 14px;
}

.news_hd .more {
    float: right;
}

.news_hd .more::after {
    font-family: "iconfont" !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e665";
}

.news_bd {
    padding: 5px 12px 0;
    border: 1px solid #e4e4e4;
}

.news_bd ul li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 24px;
    line-height: 24px;
}

.news_bd ul li a {
    font-size: 13px;
}


.newsflash .lifeservice {
    height: 209px;
    /* background-color: purple; */
    border: 1px solid #e4e4e4;
    border-top: 0;
    /* 切掉 */
    overflow: hidden;
}


.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    text-align: center;

}

.lifeservice ul li em {
    display: inline-block;
    width: 24px;
    height: 28px;
    background-color: pink;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -19px -15px;
}


.newsflash .bargain {
    margin-top: 5px;
}



/* 今日推荐 */
.recom {
    height: 163px;
    background-color: #ebebeb;
    margin-top: 12px;
}


.recom .recom_hd {
    float: left;
    height: 163px;
    width: 205px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}

.recom .recom_bd {
    float: right;
}

.recom .recom_bd ul li {
    position: relative;
    float: left;
}

.recom .recom_bd ul li img {
    width: 248px;
    height: 163px;
}

.recom .recom_bd ul li:nth-child(-n+3)::after {
    /* 之选前三个写竖线 */
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}


/* 楼层区 */
.box_hd {
    height: 30px;
    border-bottom: 2px solid red;
}

.box_hd h3 {
    float: left;
    font-size: 18px;
    color: red;
    font-weight: normal;
}

.box_hd .tab_list {
    float: right;
}

.box_hd .tab_list ul li {
    float: left;
    position: relative;
    margin: 0 15px;
    line-height: 30px;
}

.box_hd .tab_list ul li:nth-child(-n+8):after {
    content: "|";
    position: absolute;
    color: #e4e4e4;
    right: -15px;
}

.floor .w {
    margin-top: 30px;
}


.box_bd {
    height: 361px;
    /* background-color: pink; */
}

.tab_content .tab_list_one div {
    float: left;
}


.col_210 {
    width: 210px;
    background-color: #f9f9f9;
    height: 361px;
    text-align: center;
}

.col_210 ul {
    padding-left: 12px;
}

.col_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
}






.col_329 {
    width: 329px;
}


.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}


.col_219 {
    width: 219px;
}


.bb {
    display: block;
    border-bottom: 1px solid #ccc;
}












/* 楼层去电梯 */